<div class="row mt-5">
    <div class="col-md-4 mb-3">
        <div class="card text-center">
            <div class="card-body" style="background-color: darkorange">
                <h5 class="card-title">About Me!!</h5>
                <p class="card-text">
                    Hey users, I am Sumit Rastogi. I am a software developer currently working on Angular. I have created this application from
                    Angular only and have used some of its concepts like localStorage for login. It is kind of a testing
                    application for me so that in future I won't have much difficulty in deployment.
                </p>
            </div>

        </div>
    </div>
    <div class="col-md-4 mb-3">
        <div class="card text-center">
            <div class="card-body" style="background-color: darkorange">
                <h5 class="card-title">About Application!!!!!</h5>
                <p class="card-text">
                    Through this application users can purchase items(currently 5 items available) which can prevent them from the novel Corona
                    Virus. There are various payment methods(nothing to worry about, I am not taking any money from you and
                    ofcourse you can't buy any items for real) for just testing purpose.
                </p>
            </div>

        </div>
    </div>
    <div class="col-md-4 mb-3">
        <div class="card text-center">
            <div class="card-body" style="background-color: darkorange">
                <h5 class="card-title">Covid19 Current Situation!!!</h5>
                <p class="card-text">
                    There are currently 2,657,567 confirmed cases and 185,315 deaths from the coronavirus COVID-19 outbreak as of April 23, 2020
                    worldwide. Covid-19 cases in India rise to 13,835, death toll crosses 450-mark. So please stay at home
                    and stay safe and do follow government instructions during the lockdown.
                </p>
            </div>
            
        </div>
    </div>

</div>

<footer class="page-footer font-small blue">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="/home">Developer: Sumit Rastogi</a>
    </div>
    <!-- Copyright -->

</footer>