<div class="py-5">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <span class="anchor" id="formLogin"></span>
  
        <!-- form card login -->
        <div class="card rounded-0">
          <div class="card-header">
            <h3 class="mb-0">Register</h3>
          </div>
          <div class="card-body">
            <form class="form" #loginForm="ngForm">
              <div class="form-group">
                <label for="uname1">Email</label>
                <input type="email" class="form-control rounded-0" [(ngModel)]="registerUserData.userName" #username="ngModel" [class.is-invalid]="username.invalid && username.touched" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" placeholder="Enter email Id" required>
                <small class="text-danger" [class.d-none]="username.valid || username.untouched">Email Id is required and must be a valid email address</small>
              </div>
              <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control rounded-0" [(ngModel)]="registerUserData.password" #pass="ngModel" minlength="7" [class.is-invalid]="pass.invalid && pass.touched" name="password" placeholder="Enter password" required>
                <small class="text-danger" [class.d-none]="pass.valid || pass.untouched">Password is required and should be 7 characters long</small>
              </div>
              <input type="submit" [disabled]="loginForm.form.invalid" (click)="registerUser(registerUserData)" class="btn btn-success float-right" value="Register">
            </form>
          </div>
          <!--/card-block-->
        </div>
        <!-- /form card login -->
  
      </div>
  
  
    </div>
  </div>